/* li { 
    list-style-type: none;
    display: inline;
} */
.logo {
    list-style-type: none;
    display:inline-block; 
    max-width: 200px;
    /* display: inline; */
}
.dark-logo {
    list-style-type: none;
    display:inline-block; 
    max-width: 200px;
    /* display: inline; */
}
.hero {
    background: #2F303A;
    color: azure;
    height: 600px;
    text-align: center;
}
.hero-title {
    font-size: 44px;
    /* text-align: center; */
    padding-top: 200px;
    padding-bottom: ;
}
.hero-btn {
    text-align: center;
    color:white;
    border-bottom: none;
    background: #2196F3;
    width: 200px;
    height: 50px;
}
a {
    text-decoration: none;
}
h2 {
    text-align: center;
}
.feature-item {
    list-style-type: none;
    display:inline-block; 
    text-align: center;
}
.list-item-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    max-width: 200px;
    padding-top: 86px;
}
.list-item-text {
    color: #757575;
    font-size: 14px;
}